/* Original styles */

body {
    margin: 0;
    font-family: arial;
}

a {
    text-decoration: none;
}

.Button {
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #7f7f7f;
    font-size: 15PX;
    margin: 0;
}

/*---------------------- header ----------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    box-sizing: border-box;
}

header * {
    vertical-align: middle;
}

header>a {
    color: #5F6368;
    font-size: 13PX;
    margin: 0 7px;
}

header>a>svg {
    width: 25px;
    margin: 0 10px 0 11px;
    fill: #5F6368;
}

header>a.Button{
    color: white;
    padding: 10px 27px;
    border-radius: 5px;
    vertical-align: middle;
    background-color: #1A73E8;
    font-size: 15PX;
    margin: 0;
}

/*---------------------- main ----------------------*/
main {
    text-align: center;
    height: 250px;
    padding: 70px 0 0 0;
    position: relative;
}

/* SearchBox */
main .SearchBox {
    border: 1px solid #cecece;
    border-radius: 50px;
    padding: 10px;
    margin: 30px auto 0 auto;
    width: 560px;
}

main .SearchBox>SVG:nth-of-type(1) {
    width: 20px;
    vertical-align: middle;
    margin: 0 5px 0 0;
    fill: #9DA3A9;
}

main .SearchBox>abbr>input {
    border: 0;
    width: 450px;
    vertical-align: middle;
    margin: 0 0 0 5px;
    outline: none;
}

main .SearchBox>abbr>svg {
    width: 24px;
    vertical-align: middle;
}

/* maine-btn */
main .box-Button {
    margin: 40px 0 0 0;
}

main .box-Button a:nth-of-type(1) {
    text-decoration: none;
    font-family: arial;
    font-size: 14px;
    color: #4a4a4a;
    background-color: #F8F9FA;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 6px;
}

main .box-Button a:nth-of-type(2) {
    text-decoration: none;
    font-family: arial;
    font-size: 14px;
    color: #4a4a4a;
    background-color: #F8F9FA;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 6px;
}

/*---------------------- footer ----------------------*/
footer {
    background-color: #f2f2f2;
    width: 100%;
    height: 46px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    margin: auto auto;
}

/* footer group-1 Left */
footer .group-1 {
    text-align: center;
    float: left;
    padding: 15px 0;
    font-size: 14px;
}

footer .group-1 a:nth-of-type(1) {
    text-decoration: none;
    margin: 10px 10px 10px 45px;
    color: #70757A;
    font-family: arial;
}

footer .group-1 a:nth-of-type(2) {
    text-decoration: none;
    margin: 11px;
    color: #70757A;
    font-family: arial;
}

footer .group-1 a:nth-of-type(3) {
    text-decoration: none;
    margin: 11px;
    color: #70757A;
    font-family: arial;
}

footer .group-1 a:nth-of-type(4) {
    text-decoration: none;
    margin: 11px;
    color: #70757A;
    font-family: arial;
}

/* footer group-2 Right */
footer .group-2 {
    text-align: center;
    float: right;
    padding: 15px 0;
    font-family: arial;
    font-size: 14px;
}

footer .group-2 a:nth-of-type(1) {
    text-decoration: none;
    margin: 10px;
    color: #70757A;
    font-family: arial;
}

footer .group-2 a:nth-of-type(2) {
    text-decoration: none;
    margin: 10px;
    color: #70757A;
    font-family: arial;
} 

footer .group-2 a:nth-of-type(3) {
    text-decoration: none;
    margin: 10px;
    color: #70757A;
    font-family: arial;
}